#load {
    flex-direction: column;
    
    height: 100%;
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    animation: fadeInPage 0.8s ease-out forwards;
    
    img {
        max-width: 256px;
        aspect-ratio: 1;
    }
    
    h1 {
        color: var(--brand-primary);
        transform: scale(1.5);
    }
}

/* Small Screen Support */

@media screen and (max-width: 256px) {
    .load-icon {
        width: 95%;
        height: auto;
    }
}

@media screen and (max-height: 256px) {
    .load-icon {
        width: auto;
        height: 95%;
    }
}