[Desktop Entry]
Name=Nivix Studio
Comment=All-in-one Node/HTML/JS business app
Exec=/usr/bin/nivix-studio
Icon=nivix-studio
Type=Application
Categories=Development;Productivity;
Terminal=false
StartupNotify=true
X-AppStream-Id=com.nivix.studio
