#installPopupContainer,
#appPopupContainer,
.askPopupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9997;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.askPopupContent {
    width: 25em;
    height: 15em;
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 10px;
}

.askPopupContent .messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(75% - 10px);
}

.askPopupContent .optionContainer {
    height: calc(25% - 10px);
}

.askPopupContent .noPreferBtn {
    width: calc(50% - 20px);
    padding: 0.5em 1.5em;
    background-color: #cdcdcd;
    border: 1px solid #cdcdcd;
    border-radius: 8px;
}

.askPopupContent .preferBtn {
    width: calc(50% - 20px);
    padding: 0.5em 1.5em;
    background-color: #43a4eb;
    border: 1px solid #43a4eb;
    border-radius: 8px;
}

.appPopupContent {
    width: 35em;
    height: 20em;
    background-color: #f0f0f0;
    border-radius: 12px;
}

.appPopupContent .bar {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 5px);
    height: 1.7em;
    padding-left: 5px;
    border-radius: 3px;
    background-color: #cdcdcd;
    color: gray;
    font-weight: bold;
}

.appPopupContent .bar span {
    font-size: 1.4em;
}

.appPopupContent .bar .close {
    float: right;
    height: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: gray;
    font-weight: bold;
    cursor: pointer;
}

.appPopupContent .bar .close:hover {
    background-color: white;
}

.appPopupContent .left {
    float: left;
    width: 50%;
    height: calc(100% - 1.7em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appPopupContent .left img {
    height: 75%;
    max-height: 250px;
    aspect-ratio: 1 / 1;
}

.appPopupContent .right {
    float: right;
    width: 50%;
    height: calc(100% - 1.7em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appPopupContent .right span {
    font-size: 1em;
    font-weight: bold;
    color: gray;
}

.appPopupContent .right button {
    margin-top: 5px;
    width: 10em;
    padding: 5px 0;
    border: none;
    border-radius: 3px;
    background-color: #cdcdcd;
}

.appPopupContent .right button:hover {
    background-color: #e6e6e6;
}