:root {
    /* Brand Core */
    --brand-color: #43a4eb;
    --brand-light: #71aeda;
    --brand-dark: #258dd8;
    --accent-gold: #fff19f;
    
    /* Functional UI */
    --bg-main: #f5f7fa;
    --bg-card: #ffffff;
    --text-main: #202124;
    --text-muted: #666666;
    --border-color: #eeeeee;
    
    /* Global Styles */
    --radius: 12px;
    --shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    --speed: 0.3s ease;
}

html { scroll-behavior: smooth; }

head, body {
    height: 100vh;
    width: 100%;

    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.6;

    background: var(--bg-main);
    color: var(--text-main);

    animation: fadeInPage 0.8s ease-out forwards;
}

/* Global Reset & Scrollbar */
h1 span { font-size: 1.5em; }
h2 span { font-size: 1.17em; }
h3 span { font-size: 1em; }
h4 span { font-size: 0.83em; }
h5 span { font-size: 0.67em; }
h6 span { font-size: 0.45em; }
:focus { outline: none; border: 2px solid var(--brand-dark); }
::-webkit-scrollbar { width: 7px; height: 5px; }
::-webkit-scrollbar-track { background: #ccc; }
::-webkit-scrollbar-thumb { background: var(--brand-light); }
::-webkit-scrollbar-thumb:hover { background: var(--brand-dark); }


/* Layout Elements*/
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    
    padding: 20px;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    background: var(--brand-color);
    border-radius: var(--radius) var(--radius) 0 0;
    color: white;
    text-align: center;
    flex-shrink: 0;
}

.nivixLogoAccent {
    font-family: "GochiHand", "Lucida Handwriting", serif;
    color: #43a4eb;
    text-shadow: 3px 3px 2px #8d8d8d;
}

/* Animations */
@keyframes fadeInPage {
    from { opacity: 0; transform: scale(0.95); filter: blur(2px); }
    to { opacity: 1; transform: scale(1); filter: blur(0); }
}

@keyframes fadeOutPage {
    from { opacity: 1; filter: blur(0); }
    to { opacity: 0; filter: blur(10px); }
}

/* Fonts */
@font-face {
    font-family: "GochiHand";
    src: url("../fonts/GochiHand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}