/* Document Defaults */
head, body {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

/* Animations */
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}