/* Tab Helper */

.tab {
    display: none;
}

/* Load Menu */

#load {
	display: block;
}

#load * {
	user-select: none;
}

.load-icon {
	width: 15%;
	aspect-ratio: 1;

	background: linear-gradient(135deg, var(--col1), var(--col2));
	border-radius: 7px;

	transition: var(--tSpeed) width ease-in-out;
}

#load-footer-ver {
	color: gray;
	font-weight: bolder;
}

@media (max-width: 800px) {
	#load .load-icon {
		width: 40%;
	}
}

/* Space Selection and Creation Menu */

#select-space *,
#create-space * {
	user-select: none;
}

.select-space-logo {
	width: 35%;

	transition: var(--tSpeed) width ease-in-out;
}

#select-space h3,
#create-space h3 {
	display: inline;

	font-weight: lighter;
}

#select-space select,
#select-space button:not(.tool-tip-button),
#create-space select,
#create-space button:not(.tool-tip-button) {
	transform: scale(1.1);

	transition: var(--tSpeed) transform ease-in-out;
}

#select-space button:not(.tool-tip-button),
#create-space button:not(.tool-tip-button) {
	cursor: pointer;

	margin: 0px 4px;

	transition: var(--tSpeed) margin ease-in-out;
}

@media (max-width: 800px) {
	.select-space-logo {
		width: 85%;
	}

	#select-space select,
	#select-space button:not(.tool-tip-button),
	#create-space select,
	#create-space button:not(.tool-tip-button) {
		transform: scale(1.3);
	}

	#select-space button:not(.tool-tip-button),
	#create-space button:not(.tool-tip-button) {
		margin: 0px 8px;
	}
}

/* Create Space Section */

.create-space-image {
	width: 45%;

	transition: var(--tSpeed) width ease-in-out;
}

@media (max-width: 800px) {
	.create-space-image {
		width: 85%;
	}
}

/* Workspace */

.workspace-container {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
}

.workspace-content {
	flex: 1;

	margin: 8px 8px 0px 8px;

	background: #e5e5e5;
	border-radius: 8px;
}

.workspace-item-controls {
	display: flex;
	flex-direction: row;

	overflow-y: hidden;
	overflow-x: auto;

	height: calc(6% - 20px);
	width: calc(100% - 16px);
	margin: 8px;

	background: #e5e5e5;
	border-radius: 8px;
}

.workspace-item-controls button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	margin: 4px;
	padding: 2px 8px 2px 0px;

	height: calc(100% - 8px);

	cursor: pointer;

	background: #ccc;
	border: none;
	border-radius: 8px;

	transition: background var(--tSpeed) ease-in-out;
}

.workspace-item-controls button:disabled {
	background: #c2c2c2;
	color: gray;

	cursor: not-allowed;
}

.workspace-item-controls button:hover {
	background: #c0c0c0;
}

.workspace-item-controls button span {
	display: inline-block;
	font-size: 1.5cqh;
}

.workspace-item-controls button img {
	display: inline-block;
	height: 95%;
	aspect-ratio: 1;
}

.workspace-item-controls input {
	margin: 4px;
	padding: 2px;

	flex: 1;
	height: calc(100% - 8px);

	background: #ccc;
	border: none;
	border-radius: 8px;
}

@media (max-width: 1200px) {
	.workspace-item-controls button {
		padding: 2px;
	}

	.workspace-item-controls button img {
		height: 100%;
	}

	.workspace-item-controls button span {
		display: none;
	}
}

@media (max-height: 1000px) {.workspace-item-controls { height: calc(7% - 20px);} .workspace-item-controls button span { font-size: 2cqh; }}
@media (max-height: 800px) {.workspace-item-controls { height: calc(8% - 20px);}}
@media (max-height: 600px) {.workspace-item-controls { height: calc(9% - 20px);}}
@media (max-height: 400px) {.workspace-item-controls { height: calc(10% - 20px);}}