#dashboard {
    width: 100%;
    height: 100%;
    
    .halfpane{
        .left, .right {
            display: flex;
            flex-direction: column;
            
            text-align: center;

            .nivix_bookmark {
                flex: 0;
            }
        }
        
        .left .nivix_bookmark {
            margin-left: auto;
        }
    }
    
    .section {
        display: flex;
        flex-direction: column;
        
        width: 50%;
        
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .center {
        flex: 1;
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .dashboard-getstarted-section {
        width: 95%;
    }
}