@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, head, body {
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100vh;

	font-size: 18px;

	color: var(--text-primary);
}