/* Dock */

#dock {
	display: none;
	
	position: fixed;
	bottom: -5.5vh;
	left: 0;
	
	width: 100%;
	height: 5.5vh;
	
	overflow-x: auto;
	overflow-y: hidden;
	
	z-index: 8000;
	transition: 0.5s bottom ease-out;
}

#dock button {
	display: flex;
	align-items: center;
	justify-content: center;
	
	height: 80%;
	
	padding: 0 10px;
	margin-right: 6px;
	
	background: var(--surface2);
	
	border: none;
	border-radius: 4px;
	
	color: var(--on-surface);
	font-weight: bold;
}

#dock button:not(#dockContent button):not(#timeDisplay):not(#dateDisplay) {
	cursor: pointer;
	transition: transform 0.15s ease, background 0.2s ease;
}

#dock button:nth-child(1) {
	margin-left: 6px;
}

#dock button:not(#dockContent button) img {
	filter: var(--icon);
	height: 75%;
	margin-left: 5px;
}

#dock button:not(#dockContent button):not(#timeDisplay):not(#dateDisplay):hover {
	transform: translateY(-1.5px) scale(1);
	background: var(--surface-hover);
}

#dock .right, #dock .left {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: fit-content;
}

#dock #dockContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
	
	overflow-x: auto;
}

#dock #dockContent button {
	height: 100%;
	aspect-ratio: 1;
	
	background: transparent;
	border: none;
	
	padding: 0.01px;
}

#dock #dockContent button img {
	height: 100%;

	transition: background 0.1s ease-out;
}

#dock #dockContent button:hover img {
	background: rgba(205, 205, 205, 0.5);
}

#dock #dockContent button.active img {
	background: rgba(205, 205, 205, 0.8);
}

#dock .right {
	justify-content: flex-end;
	margin-left: 8px;
}

#dock .left {
	justify-content: flex-start;
	margin-right: 8px;
}