/* Base Layout */
html, head, body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;

    height: 100%;
    
    background: white;

    user-select: none;

    margin: 0;
    padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	background: #f2eded;

	color: #333;

    margin-bottom: 3em;

    overflow: hidden;
	transition: background 0.3s ease;
}

:root {
    --col1: #43a4eb;
    --col2: #0079cf;
    --tc: #ffffff;
}

.title {
    background: linear-gradient(135deg, var(--col1), var(--col2));
    -webkit-background-clip: text;
    background-clip: text;

    font-size: 48px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--col2);
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#closeShade {
    display: none;
    opacity: 0;

	width: 100vw;
    height: 100vw;

    background: black;

    transition: 0.65s opacity ease-in-out;
}

/* Loader Styles */
.loader {
    height: 1.5em;
    aspect-ratio: 1 / 1;

    border-radius: 50%;

    border-top: 4px solid var(--col1);
    border-left: 4px solid var(--col1);
    border-right: 4px solid var(--col1);
    border-bottom: 4px solid transparent;

    animation: rotate 0.5s linear infinite;
}

/* Layout Elements */

.middle,
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.middle {
    height: 100%;
}

center {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;

    height: 3em;

    background: transparent;
    border: none;
    
    font-weight: bold;
}

/* Animations */
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}