#notiContainer, #notiContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    
    width: auto;
}

#notiContainer {
    position: fixed;
    top: -6em;
    left: 50%;

    height: auto;
    max-width: 90%;

    background: transparent;
    border: none;

    z-index: 10000;

    transform: translateX(-50%);
    transition: top 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#notiContent {
    height: 4em;
    min-width: 250px;
    max-width: 500px;

    padding: 0 16px;

    background: linear-gradient(145deg, #ffffff, #f1f4f8);
    border: 1px solid #d8dbe0;
    border-bottom: 3px solid #cfd3d9;
    border-radius: 10px;

    color: #333;
    font-weight: bold;
    text-align: center;
}

#notiContainer.show {
    top: 20px;
}