/* Document Defaults */

html, head, body {
    padding: 0;
    margin: 0;
}

head, body {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

:root {
    --col1: #43a4eb;
    --col2: #0079cf;
    --tSpeed: 125ms;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Tool Defaults */

.loader {
    border-radius: 50%;
    height: 1.5em;
    aspect-ratio: 1;
    border-top: 4px solid var(--col1);
    border-left: 4px solid var(--col1);
    border-right: 4px solid var(--col1);
    border-bottom: 4px solid transparent;
    animation: rotate 0.5s linear infinite;
}

.tool-tip-button {
    position: relative; 
    display: inline-block;
    border: none;
    font-family: monospace;
    aspect-ratio: 1;
    background: var(--col1);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.tool-tip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    width: 130px;
    background: var(--col1, #333);
    font-weight: lighter;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    z-index: 1000;
    position: absolute;
    --tooltip-margin: 10px;
    top: var(--tooltip-top, auto);
    right: var(--tooltip-right, auto);
    bottom: var(--tooltip-bottom, auto);
    left: var(--tooltip-left, auto);
    transform: var(--tooltip-transform, none); 
}

.tool-tip-button:hover .tool-tip {
    visibility: visible;
    opacity: 1;
    transform: var(--tooltip-transform-hover, var(--tooltip-transform, none));
}

/* TOP Position */
.tip-top.tool-tip-button .tool-tip {
    --tooltip-top: auto;
    --tooltip-bottom: calc(100% + var(--tooltip-margin));
    --tooltip-left: 50%;
    --tooltip-transform: translateX(-50%);
}

/* BOTTOM Position (Default) */
.tool-tip-button .tool-tip {
    --tooltip-top: calc(100% + var(--tooltip-margin));
    --tooltip-left: 50%;
    --tooltip-transform: translateX(-50%); 
}

/* LEFT Position */
.tip-left.tool-tip-button .tool-tip {
    --tooltip-top: 50%;
    --tooltip-right: calc(100% + var(--tooltip-margin));
    --tooltip-left: auto;
    --tooltip-transform: translateY(-50%);
}

/* RIGHT Position */
.tip-right.tool-tip-button .tool-tip {
    --tooltip-top: 50%;
    --tooltip-left: calc(100% + var(--tooltip-margin));
    --tooltip-right: auto;
    --tooltip-transform: translateY(-50%);
}

/* Layout Elements */

.middle,
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.middle {
    height: 100%;
}

center {
    text-align: center;
}

.footer {
    height: 3em;
    position: fixed;
    left: 0;
    bottom: 0;
    background: transparent;
    border: none;
    font-weight: bold;
}

/* Animations */
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}